extends layout

block content
	h2 Member Home
	ul.list-group
		li.list-group-item
			a.btn.btn-default.full-width(href="/account/bars") List my favorite Bars
		li.list-group-item
			a.btn.btn-default(href="/bars/"+encodeURIComponent(sess.location)) Search Bars in my Location
		li.list-group-item
			a.btn.btn-default(href="/account/location") Change my Location
		li.list-group-item
			a.btn.btn-default(href="/account/signout") Sign out