extends layout

block content
	h2 Your Favorite Bars
	each bar in memberBars
		li.list-group-item.row
			h4= bar._id
			p= 'Gone ' + bar.goingCount + ' times'
			form(action="/bars/"+location+"/"+bar._id+"/register", method="post")
				button.btn.btn-primary(type="submit", id="toggle_"+bar._id, data-ng-click="toggleGoing("+bar._id+")")= showGoing(going, bar._id)
				a.btn.btn-default(href="/bars/"+location+"/"+bar._id) View
