extends layout

block content
	h2 
	p user home
	ul
		li
			a(href="/account/location") Change Location
		li
			a(href="/account/bars") My Bars
		li
			a(href="/bars/location") Search
		li
			a(href="/account/signout") Sign out