extends layout

block content
	h2  Sign In
	p Member Login form
		form(action="/account/signin", method="post")
			section.form-group
				label(for="username") Username:
				input.form-control(type="text", name="username", required)
			section.form-group
				label(for="password") Password:
				input.form-control(type="password", name="password", required)
			button.btn.btn-primary(type="submit") Sign in
			a.btn.btn-default(href="/account/register") Not a member? Sign up