extends layout

block content
	h2  :location :bar
	p display details of bar in iframe
		form(action="/bars/:location/:bar/register", method="post")
			button(type="submit") Going
	ul
		li
			a(href="/bars/:location") Back