extends layout

block content
	h2  BarsTool - Local bars in your area
	form(action="/bars", method="post")
		section.form-group
			div.input-group
				input.form-control(name="location", placeholder="Your location:", required)
				span.input-group-btn
					button.btn.btn-primary Search