extends layout

block content
	h2= data.name
	form(action="/bars/"+location+"/"+bar+"/register", method="post")
		button.btn.btn-primary(type="submit")= ( data.going && 'barId' in data.going ) ? 'Going' : 'Not Going'
		a.btn.btn-default(href="/bars/"+backURI) Back
