nav(class="navbar navbar-inverse")
	div(class="container")
		a(href="/", class="navbar-brand") BarsTool
		ul(class="nav navbar-nav navbar-right")
			li
				a(href="/bars") Bars
			if sess.firstname && sess.lastname
				li
					a(href="/account")= 'Welcome ' + sess.firstname + ' ' + sess.lastname.substr(0, 1)
			else
				li
					a(href="/account/signin") Sign In