doctype html
html
	head
		title= "BarsTool - "+title
		script(type="text/javascript", src="/jquery/jquery.min.js")
		script(type="text/javascript", src="/bootstrap/js")
		link(type="text/css", rel="stylesheet", href="/bootstrap/css")
		link(type="text/css", rel="stylesheet", href="/public/css/main.css")
		link(type="text/css", rel="stylesheet", href="/public/css/homepage.css")
		block head

	body
		include header
		block content